includes:
	- phpstan-baseline.neon

parameters:
	level: 1
	paths:
		- web/modules/custom
	excludePaths:
		analyseAndScan:
			- '*/node_modules/*'
			- '*/vendor/*'
			- '*/core/*'
			- '*/libraries/*'
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
